name: Test

on:
  push:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: List files
        run: ls -la
      
      - name: Check workflows
        run: ls -la .github/workflows/
